<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="0:01" value="08-Late-Night.png"/>
    <add key="5:00" value="01-Morning.png"/>
    <add key="10:00" value="02-Late-Morning.png"/>
    <add key="12:00" value="03-Afternoon.png"/>
    <add key="16:00" value="04-Late-Afternoon.png"/>
    <add key="18:00" value="05-Evening.png"/>
    <add key="20:00" value="06-Late-Evening.png"/>
    <add key="22:00" value="07-Night.png"/>
    <add key="transition_slices" value="10"/>
    <add key="transition_time_ms" value="5000"/>
    <!-- Change "Fill" to "Tiled" if you want to use images covering multiple monitors -->
    <add key="style" value="Fill"/>
  </appSettings>
</configuration>
